* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    max-width: 900px;
    margin: 0 auto;
}

@media(min-width: 325px) and (max-width: 770px) {
    .container {
        margin-bottom: 40px;
    }
}

.content {
    display: flex;
    gap: 80px;
}

@media(max-width: 770px) {
    .content {
        flex-direction: column;
        padding: 0 20px;
    }
}

.leftSide {
    flex: 1;
}

.leftSide__title {
    font-size: 24px;
    color: #343a40;
    margin-bottom: 20px;
}

.leftSide__text {
    font-size: 12px;
    color: #6c757d;
    margin-bottom: 20px;
}

.leftSide__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #343a40;
    outline: 0;
    margin-bottom: 1.5rem;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    color: #6c757d;
}

.leftSide__input:disabled {
    opacity: 0.5;
}

.leftSide__btn {
    background-color: #004e98;
    border: none;
    color: #fff;
    width: 100%;
    padding: 1rem 0;
    border-radius: 5px;
    font-size: 1.3rem;
    transition: all ease-in-out .3s;
    cursor: pointer;
    margin-top: 40px;
}

.leftSide__btn:hover {
    opacity: 0.8;
}

.leftSide__btn:disabled {
    opacity: 0.5;
}

.rightSide {
    flex: 1;
    display: flex;
}

.grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media(max-width: 430px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.headerContainer {
    max-width: 900px;
    margin: 40px auto;
    color: #343a40;
}

@media(min-width: 320px) and (max-width: 770px) {
    .headerContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px auto 40px auto;
    }
}

.headerContainerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004e98;
    color: #fff;
    width: 70px;
    height: auto;
    padding: 1rem;
    border-radius: 5px;
}

.rightBig {
    display: flex;
    flex: 1;
    position: relative;
}

.rightArrow {
    width: 70px;
    height: 70px;
    background-color: #004e98;
    border-radius: 50%;
    margin: 120px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

@media(max-width: 770px) {
    .rightArrow {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        border-radius: 10px;
    }
}